
.body{
  font-family: Dongle;
  position: relative;
}
.container-fluid{
  padding: 0 0%;
}
.foto{
  border: 8px solid #ffffff;
  text-align: center;
  width: 350px;
height: 450px;
}
.contact{
  margin-top: 100px;
}
.menu-2 {
   margin: 0;
   padding: 0;
   height: auto;
   list-style-type: none;
   background-color: darkred ;
   text-align: center;
   }
.menu-2 li {
   margin: 8px 10px 8px 0;
   padding: 2px 14px 4px;
   background-color: darkred;
   border: 2px solid white;
   border-radius: 1px 20px;
   display: inline-block;
   transition: all 0.7s ease 0s;
   }
.menu-2 a {
  color: #f2f2f2;
  text-decoration: none;
  }

  @keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }

  @-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }
.menu-2 li:hover {
  background-color: white;
  border-radius: 20px 1px;
  }
.menu-2 li:hover a {
  color: black;
  }
